  <div>
    <h1>Election</h1>

    <div class="choices">
      <div class="positions">
        <ul>
          <% @positions.each do |position| %>
            <li><%= position.title %></li>
          <% end %>
        </ul>
      </div>

      <div class="selections">
        <%= form_with(url: '/votes', scope: :selections, method: 'post') do |f| %>
          <ul>
            <% @positions.each do |position| %>
              <li>
                <%= f.collection_select(position.id, @voters.shuffle ,:id, :name, include_blank: 'Select a candidate') %>
              </li>
            <% end %>
          </ul>

          <%= hidden_field_tag(:token, params[:token]) %>
          <%= f.submit 'Vote', class: 'submit' %>
        <% end %>
      </div>
    </div>
  </div>
